<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceForWCS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49806/Services/ServiceForWCS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceForWCS"
                contract="WMS.IServiceForWCS" name="BasicHttpBinding_IServiceForWCS" />
        </client>
    </system.serviceModel>
</configuration>