<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="LocalIp" value="192.168.1.157"/>
    <add key="PortForWcs" value="9000"/>
    <add key="PortForWms" value="9001"/>
    <add key="MaxConnect" value="10"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceForWCS" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49806/Services/ServiceForWCS.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceForWCS"
        contract="WMS.IServiceForWCS" name="BasicHttpBinding_IServiceForWCS" />
    </client>
  </system.serviceModel>
</configuration>
